@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css);

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #232a31;
    animation: fade-in-right ease 0.4s forwards;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


img.lazy-image {
    filter: blur(10px);
    transition: filter 0.3s ease;
}

img:not(.lazy-image) {
    filter: blur(0);
}

.nav-links li {
    margin: 0
}

.nav-guide button, .nav-links, body {
    font-family: "Jost", sans-serif
}

.filtered, .main-content table.charselect td:hover img {
    filter: none
}

.main-content table.strategy, .table-container, table.colors, table.movelist, table.properties {
    border-collapse: collapse
}

*, .main-wrapper, .table-container {
    box-sizing: border-box
}

#matchups h1, th {
    font-weight: 400
}

ol, ul.combos li {
    list-style-type: none
}

.navbar, ol {
    padding: 10px
}

.toggle-link, a:hover {
    text-decoration: underline
}

.footer-background, .slide {
    background-position: center
}

a {
    color: #1e6bb8;
    text-decoration: none
}

.nav-links a, a.back:hover, button.hide_content, ol li::before {
    text-decoration: none
}

.main-content img.GIF, .table-container>table, header {
    width: 100%
}

.arcadecab {
    z-index: 1;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.image-container img {
    max-width: 100px
}

.nav-links, .navbar {
    align-items: center;
    display: flex
}

.nav-links {
    list-style: none;
    padding: 0;
    gap: 15px
}

.nav-links a {
    color: #000;
    font-size: 1.2rem
}

.nav-links a.current {
    font-weight: 700;
    padding-bottom: 4px
}


.logo>a.current {
    border: none;
}

.nav-links a:hover {
    text-underline-offset: 10px;
    text-decoration: underline;
}


img.logo {
    transition: transform .3s;
    margin-right: 5px
}

img.logo:hover {
    transform: scale(1.1)
}

img.logo:active {
    top: 5px;
    position: relative
}

.title {
    font-size: 60px;
    margin: 0;
    line-height: 4.5rem;
    font-weight: 700
}

@media (max-width:768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 0
    }

    .content, .main {
        padding: 0 !important
    }

    .logo {
        margin: 0
    }

    .title {
        font-size: 45px;
        line-height: 3rem
    }

    .arrow {
        display: none !important;
    }

    .nav-links {
        flex-direction: row;
        align-items: center;
        margin: 10px auto;
        gap: 10px
    }

    .nav-links a {
        font-size: 17px
    }

    #matchups p {
        margin-top: 5px;
    }
}

@media screen and (min-width:40em) {
    img.logo {
        width: 120px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px
    }

    .nav-links {
        display: flex;
        list-style: none
    }
}

@media screen and (max-width:770px) {
    img.logo {
        width: 95px
    }

    p {
        font-size: 17px
    }
    p.description {
        font-size: 24px;
    }
}

.main-content {
    flex: 1;
    word-wrap: break-word;
    opacity: 1;
    max-width: 500px;
    background-color: #fff
}

.flag-icon, .site-footer {
    background-color: #000;
    background-size: cover;
    border: 2px solid black !important
}

.main-content :first-child, .main-content ol, .main-content ul {
    margin-top: 0
}

.main-content img {
    max-width: 100%
}

.main-content h1, .main-content h2, .main-content h3, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem
}

.main-content h1 {
    font-weight: 700;
    font-size: 32px
}

.main-content h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700
}

.main-content p {
    margin-bottom: 1em;
}

.main-content table {
    display: inline-table;
    width: 100%;
    word-break: normal;
    word-break: keep-all
}

.main-content table td, .main-content table th {
    padding: 5px;
    border: 1px solid #c5c5c5
}

.main-content hr {
    height: 1px;
    padding: 0;
    margin: 1rem 0;
    background-color: #e1e1e1;
    border: 0
}

.site-footer {
    width: 100%;
    color: #dce6f0;
    text-align: center;
    margin-top: 10rem;
    padding-top: 20px;
    padding-bottom: 200px
}

@media screen and (min-width:64em) {
    .site-footer {
        font-size: 1rem
    }
}

@media screen and (min-width:42em) and (max-width:64em) {
    .site-footer {
        font-size: 1rem
    }
}

@media screen and (max-width:42em) {
    .site-footer {
        font-size: .9rem
    }
}

.inputs, td img {
    font-size: 14px
}

.site-footer-owner {
    display: block;
    font-weight: 700
}

.site-footer-credits {
    color: #819198
}

.site-footer p.footer {
    max-width: 44rem;
    margin: 0 auto
}

.site-footer img {
    height: 60px;
    margin-left: 5px;
    padding: 0
}

.inputs img, td img {
    margin-left: 3px;
    vertical-align: middle;
    margin-right: 3px
}

.inputs img {
    text-align: center;
    display: inline
}

.inputs {
    vertical-align: middle
}

.img-description {
    font-size: 12px;
    margin-bottom: 20px
}

.main-content table.combos, .main-content table.matchups {
    display: inline-table;
    text-align: left;
    font-size: small;
    margin: 0;
    padding: 0
}

.main-content table.matchups td:first-child {
    width: 130px
}

.main-content table.matchups td.safe-block {
    background-color: #77d393f4;
    color: #fff
}

.main-content table.matchups td.misc {
    background-color: #c5c1e4;
    color: #fff
}

.main-content table.matchups td.breakable {
    background-color: #e6a77c;
    color: #fff
}

.main-content table.matchups td.punish-block {
    background-color: #f09b9b;
    color: #fff
}

.main-content table.matchups td.punish-whiff {
    background-color: #74b2e3;
    color: #fff
}

.main-content table.matchups td.punish-hit {
    background-color: #c693e1;
    color: #fff
}

.main-content table.charselect {
    display: inline-table;
    text-align: left;
    margin: 0;
    padding: 0
}

@media screen and (min-width:600px) {
    .main-content table.charselect {
        text-align: left;
        margin: 0;
        padding: 0
    }

    .main-content table.charselect td img {
        max-width: 52px;
        margin-left: 0;
        margin-right: 0
    }

    .nav-guide button {
        font-size: 19px !important
    }
}

.main-content table.charselect td {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border: 0
}

img.charbg {
    width: 100%;
    border-radius: 5px
}

ul.combos {
    margin-top: 10px;
    padding-left: 5px
}

ul.combos li {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px
}

.main-content table.strategy td:first-child {
    color: #fff;
    background-color: #85a6cc;
    text-align: center
}

.main-content table.movelist th.commands, th.commands {
    background: #6198d5
}

.main-content table.movelist th.specials, th.specials {
    background: #8a7fbe
}

.main-content table.movelist th.supers, th.supers {
    background: #cd7aac
}

.main-content table.movelist th.throws, th.throws {
    background: #3e3c3b
}

.main-content table.movelist th {
    color: #fff;
    font-weight: 500
}

table.properties td:not(:first-child):not(:last-child), table.properties th:not(:first-child):not(:last-child) {
    text-align: center;
    font-size: small
}

.main-content table.movelist td {
    background-color: #fbfbfb
}

.back {
    margin-top: 10%
}

a.back {
    border: 1px solid #416b9a;
    padding: 5px 10px;
    font-size: 12px;
    color: #416b9a;
    background: #f3f7fb
}

a.back:hover {
    background: #416b9a;
    color: #fff
}

.nav-guide {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.nav-guide button {
    background: #eeeeee;
    color: #919191;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    -webkit-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    transition: background-color .1s linear
}

.nav-guide button:hover {
    background: #2082c0;
    color: #fff
}

.nav-guide button:active {
    color: #fff;
}

.color-button {
    padding: 10px 20px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border: none;
    cursor: pointer;
    transition: background-color .3s
}

.color-button.active {
    /* background-color: #155b99; */
    font-weight: 600;
    color: #fff;
    background: #2082c0;
    border-bottom: 3px solid #0d3e68;
}

#charselect a {
    cursor: pointer
}

#charselect a img {
    filter: opacity(30%);
    transition: opacity 0.3s ease
}

#charselect a img.clicked {
    opacity: 1 !important;
    filter: none;

}

#charselect a:hover img {
    opacity: 1;
    filter: none;
}

#charselect {
    min-width: 350px;
    margin-bottom: 20px;
    display: flex
}

#matchups li {
    margin-left: 20px;
    margin-bottom: 5px
}

#matchups p {
    margin-top: 5px;
    font-size: 1.1rem
}

#matchups th {
    font-size: medium;
    font-weight: 700;
    vertical-align: middle
}

#matchups img {
    vertical-align: middle
}

#matchups h1 {
    text-align: center;
    font-size: 24px
}

button:active, button:focus, button:focus-within {
    background-color: #416b9a;
    color: #fff
}

.main-content table.tierlist {
    display: inline-table;
    text-align: left;
    padding: 0
}

.main-content table.tierlist td {
    padding: 0
}

.main-content table.tierlist img {
    padding: 5px;
    height: 70px;
    vertical-align: middle
}

.main-content table.tierlist td:first-child {
    width: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #9c9c9c
}

.main-content table.tierlist td:nth-child(2) {
    background: #262626;
    border: 1px solid #9c9c9c
}

button.hide_content {
    color: #3b3b3e;
    font-size: 10px;
    margin-bottom: 10px
}

p.notes, table.properties td, table.properties th {
    font-size: small
}

.characters-guide img:hover {
    filter: brightness(70%)
}

.characters-guide img {
    object-fit: cover;
    position: relative;
    width: 100px;
    height: 140px
}

.characters-guide img:active {
    top: 5px
}


div.infos {
    display: inline-block;
    display: inline-flex;
    position: relative
}

[id^=more]:target, div.infos:hover span {
    display: block
}

div.infos img {
    transition: transform .3s
}

div.infos img:hover {
    transform: scale(120%)
}

.characters-guide-main img {
    object-fit: cover;
    position: relative;
    height: 90px;
    opacity: .3;
    border: 1px solid #000;
    background-color: #000
}

.characters-guide-main img.active, .characters-guide-main img:hover {
    filter: none;
    opacity: initial
}

.characters-guide-main img:active {
    filter: none;
    opacity: initial;
    top: 3px;
    position: relative
}

.characters-guide-main {
    display: flex;
    justify-content: center
}

@media screen and (min-width:40em) {
    .characters-guide-main img {
        height: 92px
    }
}

table.movelist th:nth-child(n+3):nth-child(-n+7), td img, th.data {
    text-align: center
}

table.properties span {
    font-size: x-small
}

th.normals {
    background: #608e76
}

th.data {
    background: #5b5b5b
}

table.colors td {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto
}

table.movelist {
    margin-bottom: 30px
}

td {
    border: 1px solid #ccc;
    padding: 6px;
    background: #f7f7f7
}

td img {
    font-weight: bolder
}

th {
    text-align: left;
    color: #f1f1f1;
    padding: 2px
}

.split-cell div {
    display: block;
    padding: 2px 0
}

.hard-knockdown::before, .inv-startup::before, .kara-cancel::before, .knockdown::before, .launcher::before, .overhead::before, .special-cancel::before, .super-cancel::before, .low::before, .mid::before, .high::before {
    color: #fff;
    white-space: pre;
    padding: 2px 4px;
    margin: 1px;
    font-size: 12px;
    border-radius: 4px
}

.breakable::before, .punish-on-block::before, .punish-on-hit::before, .safe-on-block::before, .whiff-punish::before {
    color: #fff;
    padding: 2px;
    font-size: 13px;
    border-radius: 4px;
    margin-right: 4px;
    padding-left: 7px;
    padding-right: 7px
}

.special-cancel::before {
    content: "Special cancel";
    background-color: #8a7fbe
}

.mid::before {
    background-color: #47a255
}

.low::before, .high::before {
    background-color: #db6864
}

.low::before {
    content: "Low"
}

.mid::before {
    content: "Mid"
}

.high::before {
    content: "High"
}

.super-cancel::before {
    content: "Super cancel";
    background-color: #cd7aac
}

.kara-cancel::before {
    content: "Kara Cancel";
    background-color: #748863
}

.hard-knockdown::before {
    content: "H.Knockdown";
    background-color: #606c71
}

.knockdown::before {
    content: "Knockdown";
    background-color: #9c9c9c
}

.overhead::before {
    content: "Overhead";
    background-color: #f4a261
}

.inv-startup::before {
    content: "Reversal";
    background-color: #e76f51
}

.launcher::before {
    content: "Launcher";
    background-color: #51b0e7
}

.safe-on-block::before {
    content: "Safe";
    background-color: #4ba034
}

.breakable::before {
    content: "Break";
    background-color: #e74c0a
}

.punish-on-block::before {
    content: "Unsafe";
    background-color: #de4646
}

.punish-on-hit::before {
    content: "Unsafe-on-hit";
    background-color: #ab46de
}

.whiff-punish::before {
    content: "Whiff";
    background-color: #006391
}

.main-content video {
    width: 100%;
    height: 100%;
    border-radius: 5px
}

a:focus {
    outline: 0
}


.gallery {
    grid-template-columns: repeat(var(--items), 1fr);
    grid-gap: 4px;
    width: auto
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    gap: 4px
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block
}

ol>a {
    color: #507097
}

ol a:hover {
    text-decoration: underline
}

ol>a {
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

ol a::before {
    content: counter(item) " ";
    counter-increment: item;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #507097;
    color: #fff;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px
}

ol {
    counter-reset: item
}



.toggle-link {
    color: #416b9a;
    margin-bottom: 10px;
    cursor: pointer
}

.characters-guide-main a {
    position: relative;
    text-decoration: none;
    color: #000
}

.characters-guide-main a::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotateY(0);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #155b99;
    opacity: 0;
    z-index: 10;
    transform-origin: center
}

.characters-guide-main a.active-link::before {
    opacity: 1;
    animation: 1s linear infinite rotate3DTriangle
}

.characters-guide-main a:hover::before {
    opacity: 1;
    animation: 1s linear infinite rotate3DTriangle;
    border-top: 10px solid #0597eb64
}

@keyframes rotate3DTriangle {
    from {
        transform: translateX(-50%) rotateY(0)
    }

    to {
        transform: translateX(-50%) rotateY(360deg)
    }
}






.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 50px
}

.content, .main {
    padding: 0 20px 20px
}

.main-content {
    margin: 0 auto;
    padding: 2rem 1rem
}

/* @media (min-width:52em) and (max-width:60em) {
    .main-content {
        width: 42rem;
        padding: 2rem 5rem;
        font-size: 1.1rem
    }
} */

/* @media (min-width:60em) {
    .main-content {
        max-width: 70rem;
        padding: 1rem 6rem;
        font-size: 1.1rem
    }
} */

@media (min-width: 500px) and (max-width: 800px) {
    .content, .main {
        width: fit-content;
    }

    .container {
        display: flex;
        gap: 30px;
        flex-direction: row
    }

    .title {
        font-size: 45px;
        line-height: 4rem
    }
}


@media (min-width:800px) {
    .content, .main {
        max-width: 50%;
    }

    .content, .content-gameplay {
        overflow-y: auto;
        max-height: 750px
    }

    .container {
        display: flex;
        gap: 30px;
        flex-direction: row
    }

    .main-char-content {
        max-width: 500px;
        min-width: 500px;
        margin: 0 auto
    }

    .main-char-content p {
        font-size: larger;
    }

    .main-about {
        max-width: 600px;
        min-width: 600px;
        font-size: larger;
        margin: 0 auto
    }

    .main-gameplay {
        max-width: 400px;
        float: right
    }

    .content-gameplay {
        width: 30%;
        min-width: 500px;
        float: left;
        padding-right: 20px
    }
}


.discord-button {
    display: block;
    background-color: #5864f2;
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease
}

.discord-button a {
    font-size: 18px
}

.discord-button:hover {
    background-color: #5e6a89;
    transform: scale(1.03);
    text-decoration: none
}

.discord-button:active {
    background-color: #4a55a2
}

.cabinet-container {
    position: relative
}

.cabinet-container img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 10;
}

.cabinet-container video {
    position: absolute;
    top: 24%;
left: 20%;
width: 59%;
height: 29%;
    border-radius: 20px;
    z-index: 0;
    transform: perspective(200px) rotateX(5deg)
}

input, select, optgroup, textarea {
    color: #3d4852;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6
}

a.button {
    align-items: center;
    background-color: #3d4852;
    border: 1px solid #3d4852;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    padding: .25rem .75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out
}

a.button:hover, a.button:focus {
    background-color: #58636F;
    box-shadow: 0 0 2px 2px #bac6d3
}

a.button:focus {
    outline: 1px solid #3d4852
}

a.button:visited {
    color: #fff
}

main {
    padding: 1rem 1rem;
    margin: auto
}

.card {
    /* padding: 0.3rem; */
    text-align: center;
    background-color: transparent
}

.card-content {
    padding: 0.7rem;
}

h2.card-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.6rem;
}

li.carousel-item {
    display: inline-block;
    background: #f7f7f7;
    border: 1px solid gray;
    border-bottom: 5px solid gray;
    /* background: linear-gradient(to bottom, #ffffff, #f8f8fb, #eff1f7, #e5ebf3, #dae5ef); */
    border-radius: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

li.carousel-item p {
    /* font-size: 0.95rem; */
    margin: 10px;
    margin-bottom: 20px;
}

.card>video {
    border-radius: 10px 10px 0 0;
}

.carousel-items {
    display: flex;
    gap: 0.2rem;
    padding-top: 0;
    scroll-snap-type: x mandatory;
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: initial;
    padding-bottom: 20px;
    scrollbar-width: thin;
}


.carousel-item {
    flex: 1 0 280px;
    /* flex: 0 0 auto; */
    margin-left: 0.5rem;
    scroll-snap-align: start;
    /* border: 2px solid lightgray; */
    /* border-radius: 8px; */
    background-color: transparent
}


.carousel-items::-webkit-scrollbar {
    display: none
}

.carousel-item.highlighted {
    border: 1px solid lightgrey
}


@media screen and (min-width:992px) {
    input, select, optgroup, textarea {
        font-size: 1.125rem
    }

    .carousel-item {
        flex-basis: 270px
    }
}

@media screen and (min-width:1280px) {
    .carousel-item {
        flex-basis: 270px
    }
}

@media screen and (min-width:1600px) {
    input, select, optgroup, textarea {
        font-size: 1.25rem
    }
}

section.carousel {
    height: 100vh;
    padding: 20px;
    overflow-x: auto;
    
    /* cursor: grab; */
    scroll-snap-align: start
}



.wiki {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 20px;
    border-radius: 8px;
    justify-content: center;
    width: 100%
}

.year-container {
    /* display: inline-block; */
    align-items: center;
    /* Vertically aligns the text */
    text-align: center;
}

/* Optional: style the individual elements */
.year {
    display: inline;
    font-size: 4em;
    /* or whatever size you want */
    color: lightgray;
    font-weight: bold;
}

.name {
    font-size: 1em;
    /* or whatever size you want */
}

img.boxart {
    float: left;
    width: 150px;
    /* margin: 10px; */
    margin-right: 10px;
    border: 2px solid black;
}


.text {
    flex: 1;
    font-size: 18px;
    color: #555;
    margin-bottom: 100px;
    min-height: 300px;
}


.text h3 {
    font-size: 20px;
    line-height: 2.8rem;
    color: #000
}

.bottom-div {
    position: relative;
    transition: opacity 0.5s ease;
    padding-top: 130px
}

.top-div {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: opacity 0.5s ease
}

.command-list {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%
}

.move {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-top: 1px solid #ccc
}

.command-list h2 {
    color: #fff;
    font-weight: 500;
    padding: 5px;
    font-size: 1.1rem;
    margin: 0
}

h2.normals {
    background: #608e76
}

h2.commands {
    background: #6198d5
}

h2.specials {
    background: #8a7fbe
}

h2.supers {
    background: #cd7aac
}

h2.throws {
    background: #d07953
}

.move span {
    flex: 1;
    display: table-cell;
    vertical-align: middle
}

.move img {
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 2px
}

.move span:first-child {
    text-align: left
}

.move span:last-child {
    text-align: right
}

.move:nth-child(odd) {
    background-color: #f9f9f9
}


input[type="checkbox"] {
    display: none
}

input[type="checkbox"]:checked~.moveproperties {
    display: block
}

.moveproperties {
    display: none
}

label.properties {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #eeeeee;
    color: #919191;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center
}


label.properties:hover {
    background-color: #155b99;
    color: #fff;
    font-weight: 600;
}

.arrow {
    width: 30px;
    height: 30px;
    border-left: 5px solid rgb(77, 77, 77);
    border-bottom: 5px solid rgb(71, 69, 69);
    transform: rotate(-45deg);
    margin: 0 auto;
    animation: bounce 1.5s infinite;
}

.right-arrow {
    width: 20px;
    height: 20px;
    border-left: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    transform: rotate(-135deg); /* Rotates the arrow to point right */
    margin: 0 auto;
    animation: bounce-right 1.5s infinite; /* Uses the new keyframe animation */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) rotate(-45deg);
    }

    50% {
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes bounce-right {
    0%, 100% {
        transform: translateX(0) rotate(-135deg); /* Moves the arrow back to its original position */
    }

    50% {
        transform: translateX(10px) rotate(-135deg); /* Moves the arrow 10px to the right */
    }
}

#alsion img,
#tia img,
#pielle img,
#dao-long img,
#rila img,
#saizo img {
    width: 100%;
}



.thumbnail-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 6px;
    opacity: .3;
}

.thumbnail-char {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 6px;
    position: relative; /* Add this line */
    z-index: 1;
}

.thumbnail:hover, .thumbnail-char:hover {
    transform: scale(1.4);
    opacity: 1;
    z-index: 10;
}