@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bangers&family=Titan+One&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css);
*{scroll-behavior:smooth}
body{margin:0;padding:0;font-size:16px;line-height:1.5;color:#232a31;animation:bodyReveal .8s ease-out forwards}
@keyframes bodyReveal{
from{opacity:0;transform:translateY(10px)}
to{opacity:1;transform:translateY(0)}
}
body{background-color:#fff;background-image:linear-gradient(to right,#f5f5f5 2px,transparent 2px),linear-gradient(to bottom,#f5f5f5 2px,transparent 2px);background-size:40px 40px}
img.lazy-image{filter:blur(10px);transition:filter .3s ease}
img:not(.lazy-image){filter:blur(0)}
.arcadecab{z-index:1}
img.logo{transition:transform .3s;margin-right:5px;filter:drop-shadow(1px 0 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(0 1px 0 #000) drop-shadow(0 -1px 0 #000)}
img.logo:hover{transform:scale(1.1)}
img.logo:active{top:5px;position:relative}
.logo a:hover{background-color:transparent!important}
.logo{margin:0!important}
.scroll-container{display:flex;justify-content:center;align-items:center;margin-top:-50px}
.arrow{width:40px;height:40px;background-color:#000;border-radius:50%;display:flex;justify-content:center;align-items:center;animation:scroll-down 1.5s infinite}
.arrow::after{content:'';width:10px;height:10px;border-right:3px solid #fff;border-bottom:3px solid #fff;transform:rotate(45deg);margin-top:-5px}
@keyframes scroll-down{
0%{opacity:0;transform:translateY(-10px)}
50%{opacity:1}
100%{opacity:0;transform:translateY(10px)}
}
.footer-logo{max-width:600px;width:90%;display:block;margin:0 auto;margin-top:10px;border:2px solid #000;border-radius:10px}
#footer-container{text-align:center;background:#fff;padding:40px 40px 300px 40px}
.title{font-size:50px;margin:0;line-height:4.5rem;font-weight:900}
.subtitle{font-size:50px;margin:0;line-height:4.5rem;font-weight:900}
.breakers-series{display:flex;justify-content:flex-end;position:relative;gap:8px;margin-bottom:20px}
.breakers-series img{border:2px solid #000;width:auto;height:120px;cursor:pointer;transition:transform .3s}
.breakers-series img:hover{transform:translateY(-10px)}
.popup{display:none;background:rgba(0,0,0,.7);position:fixed;top:0;left:0;width:100%;height:100%;opacity:0;pointer-events:none;transition:opacity .3s ease;z-index:9999}
.popup.show{display:block;opacity:1;pointer-events:all}
.popup-content{position:absolute;padding:20px;max-width:400px!important;transform:translate(-50%,-50%);transition:transform .3s ease;z-index:100}
.popup-content{left:50%!important;transform:translate(-50%,-50%) scale(1)}
.popup-content ul{padding-left:10px}
.popup-content img{padding-bottom:20px;border-bottom:2px solid #d3d3d3}
.popup.show .popup-content{transform:translate(-50%,-50%) scale(1);background:#fff;border:4px solid #000}
.float-img{float:left;width:115px;height:auto;margin:0 12px 4px 0;border:2px solid #000}
.close{position:absolute;top:0;right:15px;font-size:24px;color:gray;font-weight:700;cursor:pointer}
.inputs,td img{font-size:14px}
.inputs img,td img{margin-left:3px;vertical-align:middle;margin-right:3px}
.inputs img{text-align:center;display:inline}
.inputs{vertical-align:middle}
.navbar,ol{padding:10px}
.navbar{position:relative}
.toggle-link,a:hover{text-decoration:underline}
.nav-links,.navbar{align-items:center;display:flex;background:0 0}
.nav-links{list-style:none;padding:0;gap:10px;margin:0 auto;padding:10px}
.nav-links li{margin:0}
.nav-links a.logo:hover{text-underline-offset:10px;background-color:transparent!important}
.nav-links a:hover{text-underline-offset:10px;background-color:#d3d3d3}
.nav-links a{color:#000;font-size:1.2rem;padding:10px;transition:background-color .7s ease}
.nav-links a,button.hide_content,ol li::before{text-decoration:none}
.nav-guide button,.nav-links,body{font-family:Jost,sans-serif}
.nav-guide button{font-size:18px}
.nav-guide{display:flex;gap:5px;margin-bottom:20px;margin-top:20px}
.nav-guide button{background:#f2f2f2;color:#919191;appearance:none;-webkit-appearance:none;cursor:pointer;padding:5px;-webkit-transition:background-color .1s linear;-ms-transition:background-color .1s linear;flex:1;text-align:center;transition:background-color .1s linear;border:2px solid gray}
.nav-guide button:hover{background:#000;color:#fff}
.nav-guide button:active{color:#fff}
.color-button{padding:10px 20px;font-size:16px;border:none;cursor:pointer;transition:background-color .3s}
.color-button:active{transform:scale(.95)}
.color-button.active{font-weight:600;color:#fff;background:#000;border-color:#000}
.top-div{position:relative;justify-content:center;align-items:center;font-size:24px;margin-bottom:30px;transition:opacity .5s ease}
@keyframes bounce{
0%,100%{transform:translateY(0) rotate(-45deg)}
50%{transform:translateY(10px) rotate(-45deg)}
}
.video-js.vjs-arcade{aspect-ratio:4/3;border:4px solid #000;background:#000;font-family:"Pixelify Sans",monospace}
.vjs-arcade .vjs-control-bar{background:linear-gradient(#111,#000);border-top:2px solid #333}
.vjs-arcade .vjs-button>.vjs-icon-placeholder:before{color:#fff;text-shadow:1px 1px 0 #000}
.video-js .vjs-big-play-button{width:80px!important;height:80px!important;border-radius:50%!important;border-color:transparent!important;line-height:80px!important;padding:0!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;margin:0!important}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{font-size:1.5em}
.vjs-arcade .vjs-play-progress{background:#ff2a2a}
.vjs-arcade .vjs-slider{background:#222}
.vjs-arcade .vjs-volume-level{background:#ff2a2a}
.video-js{aspect-ratio:4/3;width:100%;background:#000}
.video-js video{width:100%;object-fit:contain}
.vjs-poster img{width:100%}
.character-select{max-width:600px;margin:0 auto;display:grid;grid-template-columns:repeat(5,1fr);gap:12px}
.character{aspect-ratio:3/4;border:3px solid #000;position:relative;overflow:hidden;cursor:pointer;background:center top/cover no-repeat;transition:transform .2s,border-color .2s}
.character>div{height:100%;display:flex;align-items:flex-end}
.character span{display:none;width:100%;padding:.5em;text-align:center;color:#fff;font-weight:700;font-size:1rem;background:rgba(0,0,0,.75)}
.character::before{content:"";position:absolute;inset:0;background:linear-gradient(120deg,transparent 30%,rgba(255,255,255,.25),transparent 70%);transform:translateX(-120%);transition:transform .35s}
.character::after{content:"";position:absolute;inset:0;background:repeating-linear-gradient(to bottom,rgba(0,0,0,.35) 0,rgba(0,0,0,.35) 1px,transparent 1px,transparent 3px);pointer-events:none}
.character:focus-visible,.character:hover{border:5px solid #f5c542;z-index:1;animation:blink-border .8s infinite linear}
@keyframes blink-border{
0%,100%{border-color:#f5c542}
50%{border-color:#684c1f}
}
.character:focus-visible::before,.character:hover::before{transform:translateX(120%)}
.character.sho{background-image:url(/img/assets/Portrait_BR_Sho.png)}
.character.pielle{background-image:url(/img/assets/Portrait_BR_Pielle.png)}
.character.condor{background-image:url(/img/assets/Portrait_BR_Condor.png)}
.character.rila{background-image:url(/img/assets/Portrait_BR_Rila.png)}
.character.tia{background-image:url(/img/assets/Portrait_BR_Tia.png)}
.character.alsion{background-image:url(/img/assets/Portrait_BR_Alsion_III.png)}
.character.maherl{background-image:url(/img/assets/Portrait_BR_Maherl.png)}
.character.daolong{background-image:url(/img/assets/Portrait_BR_Dao-Long.png)}
.character.saizo{background-image:url(/img/assets/Portrait_BR_Saizo.png)}
.character.baihu{background-image:url(/img/assets/Portrait_BR_Bai-Hu.png)}
@media (max-width:1024px){
.character-select{grid-template-columns:repeat(5,1fr)}
}
@media (max-width:600px){
.character-select{grid-template-columns:repeat(3,1fr);margin:50px;margin-top:5px}
.character.baihu{left:115%}
.character span{font-size:.6rem}
}
.command-list{border:1px solid #ccc;border-collapse:collapse;width:100%}
.command-list h2{color:#fff;font-weight:500;padding:5px;font-size:1.1rem;margin:0}
h2.commands,h2.normals,h2.specials,h2.supers,h2.throws{color:#fff;font-weight:500;padding:5px;font-size:1.1rem;margin:0!important}
h2.normals{background:#608e76}
h2.commands{background:#6198d5}
h2.specials{background:#8a7fbe}
h2.supers{background:#cd7aac}
h2.throws{background:#d07953}
.normal-properties{display:flex;justify-content:space-between;margin-bottom:5px;gap:30px}
.move span{flex:1;vertical-align:middle}
.move img{vertical-align:middle;margin-right:2px;margin-left:2px}
.move span:first-child{text-align:left}
.move span:last-child{text-align:right}
.move:nth-child(odd){background-color:#f9f9f9}
.move{background-color:#fff;transition:.3s}
.move:hover{cursor:pointer;background:#d0d0d0}
.move{display:flex;justify-content:space-between;padding:5px;align-items:center;border-top:1px solid #ccc}
.flag-icon{background-color:#000;background-size:cover;border:2px solid #000!important}
*,.main-wrapper{box-sizing:border-box}
a{color:#1e6bb8;text-decoration:none}
a:focus{outline:0}
.character-colors{display:flex;justify-content:left;gap:20px;text-align:center}
.main-content{border-collapse:collapse}
.main-content{margin:0 auto;padding:2rem 1rem;padding-top:0;margin-bottom:200px}
.main-content header{width:100%}
.main-content{flex:1;word-wrap:break-word;opacity:1;max-width:530px}
.main-content :first-child,.main-content ol,.main-content ul{margin-top:0}
.main-content img{max-width:100%}
.main-content h1,.main-content h2,.main-content h3,.main-content h5,.main-content h6{margin-top:2rem;margin-bottom:1rem}
.main-content h1{font-weight:700;font-size:32px}
.main-content h4{margin-top:2rem;margin-bottom:1rem;font-weight:700}
.main-content p{margin-bottom:1em}
.main-content hr{height:1px;padding:0;margin:1rem 0;background-color:#e1e1e1;border:0}
.command-list h2{margin-top:0rem!important;margin-bottom:0rem!important}
.image-container{display:flex;justify-content:center;align-items:center;height:100%}
.image-container img{max-width:100px}
.gameplay h1{font-size:25px;color:#fff;width:fit-content;padding:12px;background:#000;margin-bottom:30px}
ol,ul.combos li{list-style-type:none}
ul.combos{margin-top:10px;font-size:large;border:1px solid #d3d3d3;padding-left:0}
ul.guide{font-size:larger;padding:20px;margin-left:10px}
ul.guide li{padding:5px;margin-bottom:0}
ul.combos li:nth-child(odd){background-color:#f9f9f9}
ul.combos li:nth-child(even){background-color:#fff}
ul.combos li{padding:5px;border:1px solid #d3d3d3;margin-bottom:0}
#charselect a{cursor:pointer}
#charselect a img{transition:transform .3s;background-size:cover}
#charselect a:hover img{transform:translateY(-8px)}
#charselect a.clicked:hover img{transform:none}
#charselect{min-width:350px;margin-bottom:20px;display:flex;justify-content:center}
#charselect a{cursor:pointer;position:relative}
#charselect a.clicked::after{content:"";position:absolute;inset:0;background:rgba(255,255,255,.5);animation:blinkOverlay 1s infinite;pointer-events:none}
#charselect a:active{transform:scale(.9)}
@keyframes blinkOverlay{
0%,100%{opacity:0}
50%{opacity:1}
}
#matchups h1{font-weight:400}
#matchups li{margin-left:20px;margin-bottom:5px}
#matchups p{margin-top:5px;font-size:1.1rem}
#matchups img{vertical-align:middle;border:1px solid #000}
#matchups h1{text-align:center;font-size:24px}
@keyframes fadeIn{
from{opacity:0;transform:translateY(10px)}
to{opacity:1;transform:translateY(0)}
}
.hard-knockdown::before,.high::before,.inv-startup::before,.launcher::before,.low::before,.mid::before,.special-cancel::before,.super-cancel::before,.throw::before{color:#fff;white-space:pre;border:2px solid #585858;border-radius:4px;padding:4px;font-size:.7rem;width:1.6em;height:1.6em;margin:0 .2em;margin-bottom:4px;color:#fff;font-weight:700;cursor:default}
.mid::before{background-color:#f4a261}
.high::before{background-color:#d75a56}
.low::before{background-color:#d75a56}
.low::before{content:"Low"}
.mid::before{content:"Mid"}
.high::before{content:"High"}
.special-cancel::before{content:"Special";background-color:#8a7fbe}
.super-cancel::before{content:"Super";background-color:#cd7aac}
.hard-knockdown::before{content:"Hard Knockdown";background-color:#9c9c9c}
.throw::before{content:"Throw";background-color:#a66816}
.inv-startup::before{content:"Reversal";background-color:#02aaaa}
.launcher::before{content:"Launcher";background-color:#51b0e7}
.main-content video{width:100%;height:auto;aspect-ratio:4/3;border:4px solid #000;object-fit:cover;background-color:#000}
.gallery{grid-template-columns:repeat(var(--items),1fr);grid-gap:4px;width:auto}
.grid-container{display:grid;grid-template-columns:1fr 1fr;grid-template-rows:1fr;align-items:start;gap:4px}
ol{list-style:none;padding:0;margin:0;display:inline-block}
ol>a{color:#507097}
ol a:hover{text-decoration:underline}
ol>a{display:flex;align-items:center;margin-bottom:5px}
ol a::before{content:counter(item) " ";counter-increment:item;display:flex;align-items:center;justify-content:center;background-color:#507097;color:#fff;font-weight:700;width:30px;height:30px;border-radius:4px;margin-right:10px}
ol{counter-reset:item}
.toggle-link{color:#416b9a;margin-bottom:10px;cursor:pointer}
.container{display:flex;flex-direction:column;width:100%;row-gap:50px}
.content,.main{padding:0 20px 20px}
.cabinet-container{position:relative;max-width:750px}
.cabinet-container img{display:block;width:100%;position:relative;z-index:10}
.cabinet-container video{position:absolute;top:24%;left:22%;width:55%;height:29%;z-index:0;transform:perspective(200px) rotateX(5deg);border:none!important}
input,optgroup,select,textarea{color:#3d4852;font-family:Muli,sans-serif;font-size:1rem;line-height:1.6}
a.button{align-items:center;background-color:#3d4852;border:1px solid #3d4852;border-radius:4px;color:#fff;cursor:pointer;display:inline-flex;padding:.25rem .75rem;text-decoration:none;transition:all .25s ease-in-out}
a.button:focus,a.button:hover{background-color:#58636f;box-shadow:0 0 2px 2px #bac6d3}
a.button:focus{outline:1px solid #3d4852}
a.button:visited{color:#fff}
main{padding:1rem 1rem;margin:auto}
.card-content{padding:.7rem}
.wrapper{overflow-x:hidden}
.gameplay{display:inline-flex;flex-direction:row;align-items:center;gap:40px;margin-bottom:20px}
.tv-container{position:relative;max-width:450px}
.tv-container video{position:absolute;top:11%;left:10%;width:80.5%;height:auto;object-fit:cover;z-index:1;border:none!important}
.tv-container img.tv{position:sticky;z-index:10;pointer-events:none}
.tv-noise{opacity:0;transition:opacity .15s ease;position:absolute;pointer-events:none;top:11%;left:9%;width:81%;height:55%;overflow:hidden;z-index:2;background-color:#000;will-change:background-position,opacity;transform:translateZ(0);background:repeating-radial-gradient(#000 0 .1%,#fff 0 .2%) 50% 50%/2000px 2000px,repeating-conic-gradient(#000 0 .1%,#fff 0 .2%) 20% 80%/2000px 2000px,repeating-linear-gradient(90deg,#000 0 .5%,#fff 0 1%) 0 0/3px 100%,repeating-linear-gradient(0deg,rgba(0,0,0,.25) 0 1px,transparent 1px 3px);background-blend-mode:difference,lighten,difference,multiply;animation:tvNoise .15s infinite steps(2);filter:contrast(200%) brightness(120%)}
.tv-noise.show{opacity:1}
@keyframes tvNoise{
0%{background-position:0 0,20% 80%,0 0,0 0}
25%{background-position:50% 10%,30% 70%,5px 0,0 1px}
50%{background-position:10% 50%,80% 20%,-5px 0,0 2px}
75%{background-position:70% 30%,40% 60%,3px 0,0 3px}
100%{background-position:0 0,20% 80%,0 0,0 0}
}
.video-text{text-align:left;font-size:1.7rem;padding:0 10px;width:320px}
.video-text p{margin-top:0}
.play-button{padding-right:0;position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);background:rgba(0,0,0,.6);border:none;border-radius:50%;width:70px;height:70px;cursor:pointer;color:#fff;font-size:2rem;display:flex;align-items:center;justify-content:center;z-index:2}
.play-button:hover{background:rgba(0,0,0,.8)}
:root{--accent:#dce8f2ff;--accent-hover:#cad3e3;--text:#bebebe;--muted:#5f6368;--radius:8px;--gap:12px;--size-button:40px;--font-sans:'Roboto',system-ui,sans-serif}
.button-container{width:100%;display:inline-flex;align-items:center;justify-content:center;gap:var(--gap);padding:6px 10px;font-family:var(--font-sans);user-select:none}
.card-nav-button{appearance:none;border:none;width:var(--size-button);height:var(--size-button);display:inline-flex;color:#000;align-items:center;justify-content:center;font-size:30px;border-radius:50%;cursor:pointer;background:#fff}
.card-nav-button:active{transform:scale(.95)}
.card-nav-button:focus-visible{outline:0}
.card-nav-button{touch-action:manipulation}
.card-nav-button{transition:all .4s ease;display:inline-block}
@keyframes slide-attention{
0%,100%{transform:translateX(0)}
50%{transform:translateX(5px)}
}
@keyframes slide-attention-left{
0%,100%{transform:translateX(0)}
50%{transform:translateX(-5px)}
}
.next-button{animation:slide-attention 1.5s infinite ease-in-out}
.prev-button{animation:slide-attention-left 1.5s infinite ease-in-out}
.risk-system{overflow-y:scroll;padding-right:40px;max-height:320px;position:relative;font-size:1.8rem;scrollbar-width:12px;scrollbar-color:#888 #f1f1f1}
.risk-system::-webkit-scrollbar{width:12px}
.risk-system::-webkit-scrollbar-track{background:#f1f1f1;border-radius:8px}
.risk-system::-webkit-scrollbar-thumb{background:#888;border-radius:8px}
.risk-system::-webkit-scrollbar-thumb:hover{background:#555}
.risk-system{box-shadow:inset -10px 0 0 #f1f1f1}
.risk-system li{margin-bottom:20px;font-size:1.5rem}
.risk-system ul{padding:0}
a.moreinfos{font-size:1.1rem;color:gray;cursor:pointer;margin:0 auto;display:table}
.thumbnail-row{display:flex;gap:10px;flex-wrap:wrap}
.thumbnail{width:60px;height:60px;object-fit:cover;cursor:pointer;transition:transform .3s ease;border-radius:6px;opacity:.3}
.thumbnail-char{width:100px;height:100px;border:1px solid gray;object-fit:cover;cursor:pointer;transition:transform .3s ease;border-radius:6px;position:relative;z-index:1}
.thumbnail-char:hover,.thumbnail:hover{transform:scale(1.2);opacity:1;z-index:10}
.site-footer img{height:60px;margin-left:5px;padding:0}
.site-footer{border-top:1px solid gray;background-size:cover;color:gray;font-size:small;text-align:center;padding:20px 30px 150px;margin-top:15rem;max-width:400px;margin:700px auto 0 auto}
.arcadebutton{display:inline-flex;justify-content:center;align-items:center;font-size:1em;width:1.6em;height:1.6em;border-radius:50%;margin:0 .2em;margin-bottom:4px;color:#fff;font-weight:700;cursor:default;border:2px solid #000;user-select:none}
.arcadebutton.A::before{content:"A"}
.arcadebutton.B::before{content:"B"}
.arcadebutton.C::before{content:"C"}
.arcadebutton.D::before{content:"D"}
.arcadebutton.P::before{content:"P"}
.arcadebutton.K::before{content:"K"}
.A{background:#e74c3c}
.B{background:#f1c40f}
.C{background:#2ecc71}
.D{background:#3498db}
.K,.P{background:#696969}
.right-buttons{margin-left:auto;display:flex}
.properties{display:flex;align-items:center;width:100%;padding:8px;border:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;gap:10px}
.properties span{white-space:nowrap}
.properties img{vertical-align:middle;margin-right:4px}
.properties:nth-child(odd){background-color:#f9f9f9}
.properties:nth-child(even){background-color:#ffff}
.properties:last-of-type{border-bottom:none}
.column{display:flex;flex-direction:column;align-items:center;gap:10px}
.main-about{font-size:larger;margin-top:20px!important;padding-left:5%;padding-right:5%;width:100%;max-width:800px;margin:0 auto}
.main-char-content{width:100%}
.card-dots{display:flex;gap:.4em}
.dot{width:20px;height:20px;background:#e8e8e8;border-radius:50%;cursor:pointer;transition:background .3s}
.dot.active{background:#000}
.dropdown li{width:auto}
.dropdown{position:relative}
.dropdown-toggle{background:0 0;border:none;font-size:19px;font-family:inherit;cursor:pointer;padding:10px;display:flex;align-items:center;gap:4px;color:#000}
.dropdown-toggle:focus,.dropdown-toggle:hover{background-color:#d3d3d3}
.dropdown-menu{position:absolute;top:140%;right:-12%;background:#fff;width:130px;max-width:200px;padding:8px 0;border:4px solid #000;opacity:0;transform:translateY(-6px);pointer-events:none;transition:opacity .25s ease,transform .25s ease;z-index:9999}
.dropdown.open .dropdown-menu{opacity:1;transform:translateY(0);pointer-events:auto;width:130px}
.dropdown-menu li{list-style-type:none}
.dropdown-menu li a{display:block;text-align:center;padding:8px 16px;color:#000;text-decoration:none}
.dropdown-menu li a:hover{background:#eee}
.dropdown-menu a{color:#000!important}
.dropdown-menu a:hover{background:0 0!important}
.dropdown-menu li a:hover{font-weight:bolder!important;font-size:20px}
@media (max-width:991px){
.top-div{max-width:560px;margin:0 auto}
.nav-guide button{font-size:16px}
.container{max-width:500px;margin:0 auto}
.navbar{flex-direction:row;justify-content:space-between;padding:10px 10px 0}
.content,.main{padding:0!important}
.logo{margin:0}
.title{font-size:45px;text-align:center;line-height:3rem}
.nav-links{flex-direction:row;align-items:center;gap:2px}
.nav-links a{font-size:19px;padding:5px 10px 5px 10px}
.main-content{margin:20px auto!important;margin-bottom:200px!important}
.breakers-series{justify-content:center!important}
#matchups p{margin-top:5px}
#video-text p{height:130px}
p{font-size:larger}
p.description{font-size:21px;text-align:center}
.gameplay{display:flex;gap:0;justify-content:center;flex-direction:column}
.gameplay h1{margin:0 auto;margin-bottom:20px}
.button-container{margin-bottom:20px}
.video-text{text-align:center;max-width:590px!important;width:100%!important}
.video-text p{font-size:1.4rem!important}
.risk-system{max-height:none;overflow-y:visible;padding:0;box-shadow:inset -10px 0 0 transparent}
.risk-system ul{list-style:none;padding-left:0;margin-left:0}
.risk-system li{font-size:1.4rem!important}
img.logo{width:90px!important}
.scroll-container{margin-top:0}
.subtitle{font-size:40px;margin-bottom:20px!important}
}
@media (prefers-reduced-motion:reduce){
.animate-text span{animation:none}
}
@media screen and (min-width:991px){
.container{display:flex;gap:30px;flex-direction:row}
.top-div{max-width:960px;margin:0 auto}
.title{font-size:60px}
.title,p.description{text-align:right}
p.description{font-size:26px}
img.logo{width:130px}
.navbar{padding:15px 30px}
.characters-guide-main img{height:120px}
.main-content{max-width:1500px!important}
.howtoplay{max-width:970px!important}
.cabinet-container img{width:100%}
.cabinet-container video{width:55%;height:29%}
.main-char-content p{font-size:larger}
.main-char-content{max-width:500px;margin:0 auto}
.gameplay{display:flex;justify-content:center}
}
@media (min-width:1200px){
.top-div{max-width:960px;margin:0 auto}
.title{font-size:60px}
.title,p.description{text-align:right}
p.description{font-size:26px}
img.logo{width:130px}
.navbar{padding:15px 30px}
.characters-guide-main img{height:120px}
.main-content{max-width:1500px!important}
.howtoplay{max-width:970px!important}
.cabinet-container img{width:100%}
.cabinet-container video{width:55%;height:29%}
.main-char-content p{font-size:larger}
.gameplay{display:flex;justify-content:center}
.video-text p{font-size:1.8rem}
.risk-system{font-size:1.8rem}
.video-text{width:370px}
body{zoom:1.1;transform:scale(1.1);transform-origin:top center}
}
@media (min-width:1500px){
body{zoom:1.2;transform:scale(1.1);transform-origin:top center}
}
@media (max-width:991px){
.popup-content{left:50%!important;transform:translate(-50%,-50%) scale(1);width:95%;max-width:none}
}
.warning-box{display:flex;align-items:center;background-color:#f3dbdb;border:2px solid #faa4a4;padding:15px 20px}
.custom-icon{width:30px;height:30px;background-color:#fd2f2f;border:2px solid #000;border-radius:50%;display:flex;align-items:center;justify-content:center;color:#fff;font-weight:700;font-size:20px;margin-right:20px;flex-shrink:0}
.warning-content{line-height:1.4;font-size:large}